:root {
  --discord-primary-blue: #5562EA;
  --discord-primary-bg: #1a1a1e;
  --discord-primary-nav-bg: #121214;
  --discord-secondary-bg: #232329;
  --discord-outline: #4f4d55;
  --discord-shadow: 79, 77, 85;
  --primary-red: #DC2626;
  --primary-red-outline: #be2323;
  --text-color: #e5e5e7;
  --text-disabled-color: #82828a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
}

p, label {
  color: var(--text-color);
  font-family: "Work Sans", sans-serif;
}
label {
  color: var(--text-color);
  font-weight: bold;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 25px 25px 25px 25px;
  background-color: var(--discord-primary-nav-bg);
  border: solid;
  border-width: 0.5px;
  border-color: var(--discord-outline);
  border-radius: 20px;
  box-shadow: 1px 1px 5px 2px rgb(var(--discord-shadow), 0.1);
  animation: popin .3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.danger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  background-color: var(--primary-red);
  border: solid;
  border-width: 2px;
  border-color: var(--primary-red-outline);
  border-radius: 50px;
  box-shadow: 1px 1px 25px 1px rgba(var(--discord-shadow), 0.3);
  transition: opacity .3s ease;
  cursor: pointer;
}

.danger-button:hover {
  opacity: 0.9;
}

.danger-button:active {
  opacity: 0.7;
}

.danger-button-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
  cursor: pointer;
}

.danger-button-btn {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  background-color: var(--discord-secondary-bg);
  border: solid;
  border-width: 1px;
  border-color: var(--discord-outline);
  border-radius: 50px;
  box-shadow: 1px 1px 25px 1px rgba(var(--discord-shadow), 0.3);
  transition: opacity .3s ease;
  cursor: pointer;
}

.secondary-button:hover {
  opacity: 0.9;
}

.secondary-button:active {
  opacity: 0.7;
}

.secondary-button-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
  cursor: pointer;
}

.secondary-button-btn {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.number-field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.number-field {
  display: grid;
  grid-template-columns: repeat(3, 35px);
  grid-template-rows: repeat(4, 35px);
  justify-content: end;
  gap: 20px;
}

.number-field-key {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--discord-primary-bg);
  padding: 8px;
  border: solid;
  border-width: 1.5px;
  border-color: var(--discord-outline);
  border-radius: 8px;
  color: var(--text-color);
  transition: opacity .3s ease;
  cursor: pointer;
}

.number-field-key svg {
  width: 15px;
  height: 15px;
  fill: var(--text-color);
}

.number-field-key:nth-last-child(2) {
  grid-column: 2;
}

.number-field-key:last-child {
  grid-column: 3;
}

.number-field-key:hover {
  opacity: 0.9;
}

.number-field-key:active {
  opacity: 0.7;
}


/* App */
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--discord-primary-bg);
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  height: 50px;
  background-color: var(--discord-primary-nav-bg);
}

.decorator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 100%;
}

.decorator {
  width: 100%;
  height: 80%;
  background-color: var(--text-color);
  border-radius: 0px 5px 5px 0px;
}

.server-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.server-icon-wrapper {
  height: 80%;
}

.server-icon {
  border-radius: 8px;
  height: 100%;
}

.server-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.channel-indicator {
  color: var(--text-disabled-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.seperator {
  width: 2px;
  height: 60%;
  background-color: var(--text-disabled-color);
  border-radius: 10px;
}


/* Clock */
.clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.clock-time {
  font-size: 20rem;
  font-weight: bold;
  background: linear-gradient(var(--text-color) 0%, var(--discord-primary-bg) 80%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Quote Card */
.quote-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 15px;
  width: 85%;
  height: 350px;
  background-color: var(--discord-secondary-bg);
  border: solid;
  border-width: 2px;
  border-color: var(--discord-outline);
  border-radius: 15px;
  box-shadow: 3px 3px 10px 5px rgba(var(--discord-shadow), 0.3);
  transform: translateY(-95px);
}

.quote-stats-wrapper {
  position: absolute;
  top: 10px;
  left: 12px;
}

.quote-stats-wrapper * {
  color: var(--discord-outline);
  font-size: 0.75rem;
}

.creator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
}

.creator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.creator-profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.creator-name {
  color: #fff;
}

.quote-wrapper {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.author-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.author-profile-picture-wrapper {
  width: 50px;
  height: 50px;
}

.author-profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.author-name {
  font-size: 1.1rem;
}

.quote-time {
  color: var(--text-disabled-color);
  font-size: 0.8rem;
}


/* Control Overlay */
.control-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: rgba(0, 0, 0, 0.3);
  /* background: rgb(255, 255, 255); */

  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.9);
}

.control {
  justify-self: flex-start;
  display: flex;
  gap: 4px;
}

.control-shuffle {
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: var(--discord-primary-nav-bg);
  border: solid;
  border-width: 0.5px;
  border-color: var(--discord-outline);
  border-radius: 50%;
  box-shadow: -1px 1px 5px 2px rgb(var(--discord-shadow), 0.1);
  cursor: pointer;
  transition: background-color .3s ease;
}

.control-shuffle:hover {
  background-color: var(--discord-secondary-bg);
}

.control-shuffle svg {
  fill: var(--text-color);
}

.control-cycle {
  width: 120px;
  height: 30px;
  padding: 3px;
  color: var(--text-color);
  background-color: var(--discord-primary-nav-bg);
  border: solid;
  border-width: 1px;
  border-color: var(--discord-outline);
  border-radius: 50%;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color .3s ease;
  box-shadow: 1px 1px 5px 2px rgb(var(--discord-shadow), 0.1);
}

.control-cycle:hover {
  background-color: var(--discord-secondary-bg);
}

.settings-btn-wrapper {
  align-self: flex-end;
  width: 30px;
  height: 30px;
}

.settings-btn {
  width: 100%;
  height: 100%;
  padding: 6px;
  background-color: var(--discord-primary-nav-bg);
  border: solid;
  border-width: 0.5px;
  border-color: var(--discord-outline);
  border-radius: 50%;
  box-shadow: 1px 1px 5px 2px rgb(var(--discord-shadow), 0.1);
  cursor: pointer;
  transition: background-color .3s ease;
}

.settings-btn:hover {
  background-color: var(--discord-secondary-bg);
}

.settings-btn svg {
  fill: var(--text-color);
}

.settings-modal {
  width: 600px;
  height: 500px;
}

.settings-modal-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

.settings-close {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
  cursor: pointer;
}

.setting-wrapper {
  flex: 1 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 15px 0px 15px;
}

.setting-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.setting-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.setting-slider {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s;
}

.setting-slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  top: 2px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* aktiv */
input:checked + .setting-slider {
  background-color: #4CAF50;
}

input:checked + .setting-slider::before {
  transform: translateX(15px);
}

.display-none {
  display: none;
}

.settings-terminate-wrapper {
  width: 50%;
  height: 42px;

}


/* Terminate Modal */
.terminate-modal {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
}

.terminate-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input-wrapper {
  display: flex;
  background-color: var(--discord-primary-bg);
  padding: 8px;
  width: 100%;
  border: solid;
  border-width: 1.5px;
  border-color: var(--discord-outline);
  border-radius: 8px;
  transition: border-color .3s ease;
}

.input-wrapper:has(input:focus) {
  border-color: var(--discord-primary-blue);
}

.input-wrapper > input {
  color: var(--text-color);
  background-color: var(--discord-primary-bg);
  border: none;
  width: 100%;
}

.input-wrapper > input:focus {
    outline: none;
}

.input-wrapper > .input-show-eye {
  display: none;
  width: 16px;
  fill: var(--text-color);
  cursor: pointer;
}

.input-wrapper > .input-hide-eye {
  width: 16px;
  fill: var(--text-color);
  cursor: pointer;
}

.terminate-control-btn-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}

.terminate-control-btn-wrapper .danger-button,
.terminate-control-btn-wrapper .secondary-button {
  flex: 1 1;
  height: 38px;
  border-radius: 12px;
}

.terminate-control-btn-wrapper .danger-button-btn,
.terminate-control-btn-wrapper .secondary-button-btn {
  font-size: 1rem;
}


@keyframes popin {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
